@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="mainText">
        <h1 class="display-4 text-capitalize text-black">Welcome to Razor sharp pizza</h1>
        <h2 class="mainSubTitle">Razor Sharp is the best pizza out there!</h2>
    </div>
    <img class="mainImage" src="~/images/Pizzas/PizzaTime.jpg" />
    <br />
    <a class="btn btn-primary mt-1" asp-area="" asp-controller="Shop" asp-action="Index">Get me that PIZZA!</a>

</div>