html {
    font-size: 14px;
    
}

header {
    width: 100%;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pb-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.mainText {
    padding: 75px 20px;
}

.mainImage {
    border-radius: 20px;
    filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.3));
    margin: 40px;
}

.mainSubTitle {
    font-weight: 400;
    letter-spacing: 2px;
}

.smallText {
    text-align: right;
    color: grey;
}

.makeYourOwnDiv {
    background: grey;
    margin: 0;
}

.makeYourOwnText {
    margin: 100px 0 20px 0;
    color: white;
}

.pizza-img :hover {
    transform: scale(1.05);
}

.user {
    background-color: palevioletred;
}

.RegisterInputs {
    display: flex;
    align-content: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.neutral {
    background-color: #f4f4f4;
    color: #333;
}

.mainText, .mainImage, .makeYourOwnText {
    margin: 20px;
}

.mainText {
    padding: 50px;
}

.mainImage {
    padding: 20px;
}

.makeYourOwnDiv {
    padding: 30px;
}

.pizzaTable {
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
    justify-content: center;
    align-items: center;
}

.pizzaCard {
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 1080px) {
    .pizzaCard {
        flex-basis: 24%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1079px) {
    .pizzaCard {
        flex-basis: 32%;
    }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
    .pizzaCard {
        flex-basis: 49%;
    }
}

@media screen and (max-width: 374px) {
    .pizzaCard {
        flex-basis: 100%;
    }
}


nav{
    width: 100%;
}

.makeOwnCard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #68645c;
    text-align: center;
}

.makeOwnImg {
    width: 40%;
}

.cardImage {
    background-color: transparent;
    width: 90%;
}

.makeYourOwnText {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}